@model IEnumerable<MVC5Bank.Models.客戶聯絡人>


@{
    ViewBag.Title = "Index";
}

<h2>客戶聯絡人清單</h2>

@using (Html.BeginForm("BatchUpdate", "客戶資料",new { id = ViewContext.RouteData.Values["id"].ToString()})) {
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>       
    </tr>

    @{ 
        var data = Model.ToArray();
    }

@for (int i = 0, max = data.Length; i < max; i++)
 {
    @Html.HiddenFor(modelitem => data[i].Id)
    <tr>

        <td>
            @Html.DisplayFor(modelItem => data[i].姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => data[i].Email)
        </td>
        <td>
            @Html.EditorFor(modelItem => data[i].職稱)
        </td>
        <td>
            @Html.EditorFor(modelItem => data[i].手機)
        </td>
        <td>
            @Html.EditorFor(modelItem => data[i].電話)
        </td>

        <td>
            @Html.DisplayFor(modelItem => data[i].客戶資料.客戶名稱)
        </td>

    </tr>
}

</table>
    <input type="submit" value="批次更新" class="btn btn-primary" />
}