@model IEnumerable<MVC5Bank.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

<h2>客戶資料</h2>

<p>
    @Html.ActionLink("Create New", "Create")
<p>@Resources.Resource.客戶聯絡人</p>
    <div class="well">
        <button class="btn btn-primary" data-toggle="modal" data-target="#UploadModal">
            上傳
        </button>
        @Html.ActionLink("匯出", "Export", null, new { @class = "btn btn-primary" })
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            HasData: '@Url.Action("HasData", "客戶資料")',
                ExportData: '@Url.Action("Export", "客戶資料")',
        })
    </script>
</p>
@{ Html.BeginForm("Index", "客戶資料", FormMethod.Post); }
@{ List<SelectListItem> DDLList = new List<SelectListItem>();

        DDLList.AddRange(new[]{
    new SelectListItem() {Text = "客戶", Value = "客戶", Selected = false},
    new SelectListItem() {Text = "廠商", Value = "廠商", Selected = false}
    });

    }
        客戶分類：@Html.DropDownList("keyword", DDLList, "", new { @class = "form-control" })
@*使用ajax改寫*@
客戶名稱：<select id="name" name="name" class="form-control"><option>------</option></select>

<input type="submit" value="搜尋" />

@{ Html.EndForm(); }




<p>
    @using (Html.BeginForm())
    {

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "客戶名稱 ASC" }, null)@Html.DisplayNameFor(model => model.客戶名稱)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "客戶名稱 DESC" }, null)
        </th>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "統一編號 ASC" }, null)@Html.DisplayNameFor(model => model.統一編號)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "客戶名稱 DESC" }, null)
        </th>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "電話 ASC" }, null)@Html.DisplayNameFor(model => model.電話)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "電話 DESC" }, null)
        </th>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "傳真 ASC" }, null)@Html.DisplayNameFor(model => model.傳真)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "傳真 DESC" }, null)
        </th>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "地址 ASC" }, null)@Html.DisplayNameFor(model => model.地址)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "地址 DESC" }, null)
        </th>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "Email ASC" }, null)@Html.DisplayNameFor(model => model.Email)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "Email DESC" }, null)
        </th>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "客戶分類 ASC" }, null)@Html.DisplayNameFor(model => model.客戶分類)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "客戶分類 DESC" }, null)
        </th>
        <th>
            @Html.ActionLink("▲", "Order", "客戶資料", new { order = "帳號 ASC" }, null)@Html.DisplayNameFor(model => model.帳號)@Html.ActionLink("▼", "Order", "客戶資料", new { order = "帳號 DESC" }, null)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶分類)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.帳號)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.Partial("_UploadFile")
@section scripts
{
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/jquery.form.js></script>
    <script src="~/Scripts/project.js"></script>
    <script src="~/Scripts/project.extends.js"></script>
    <script src="~/Scripts/project.ZipCode.js"></script>
    <script type="text/html">
        $(document).ready(function(){
        var actionUrls = {
        Upload: '@Url.Action("Upload", "客戶資料")',
        Import:'@Url.Action("Import", "客戶資料")',
        HasData:'@Url.Action("HasData", "客戶資料")',
        ExportData:'@Url.Action("Export", "客戶資料")'
        };
        project.ZipCode.Initialize(actionUrls);
        });
    </script>
    <script>

        $('#keyword').change(function () {
            $.ajax({
                url: "/客戶資料/GetCustomerName",
                type: "POST",
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.length > 0) {
                        $('#name').empty();
                        $('#name').append($('<option></option>').val('').text('請選擇分類'));
                        $.each(data, function (i, item) {
                            $('#name').append($('<option></option>').val(item.Value).text(item.Value));
                        });
                    }
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });
        });
    </script>


}